.configuracion_pantalla_titulo {
  width: 100%;
  text-align: center;
  background-color: #0096b3;
  color: rgb(247, 247, 247);
  min-height: 1.75rem;
  //max-height: 1.5rem;

  &_principal {
    font-size: 1.3rem;
  }
  &_secundario {
    font-size: 1.2rem;
  }
}


span.Ftooltip {
  &::after,
  &::before {
    z-index: 90;
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(90, 90, 90, 1) transparent;
  }
  top:1rem;
  display: block;
  position: absolute;
  background-color: rgba(90, 90, 90, 1);
  color: white;
  padding: 0.7rem;
  left: min(50%);
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 15px;
  margin-top: 6.5px;
  min-width:200px;
  text-align: center;

  &_okey {
    &::after,
    &::before {
      border-color: transparent transparent limegreen transparent;
    }
  }
  &_danger {
    &::after,
    &::before {
      border-color: transparent transparent tomato transparent;
    }
  }
}

div[id$="menu_vista"] {
  .flex_acciones_vista {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.45em;
    position: relative;
    bottom: 2.25px;
    padding-top: 5px;
    @media print {
      display: none;
    }
    &_imprimir,
    &_email,
    &_historial,
    &_excel,
    &_configuracion {
      font-size: 1.4em;
      color: whitesmoke;
      padding: 0 5px;
    }
    &_alt_imprimir,
    &_alt_email,
    &_alt_historial,
    &_alt_excel,
    &_alt_configuracion {
      font-size: 1.4em;
      color: #0096b3;
      padding: 0 5px;
    }
  }
  // position: absolute;
  // height: 100%;
  // top: 50%;
  // right: 0;
  // //border: solid 3px red;
  // transform: translate(0%, -50%);
  // max-height: 1.65rem;
  // width: 200px;
  // margin: 0 15px;
  // @media print {
  //   display: none;
  // }
}

.link_historial,
.link_historial:link,
.link_historial:visited,
.link_historial:hover,
.link_historial:active {
  color: white;
}

.pantalla-fondo-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.4);
  z-index: 1000;
}

.pantalla-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 650px;
  max-width: 100%;
  padding: 10px;
}
#progress-bar {
  width: 100%;
  height: 5px;
  background-color: lightgray;
 
  z-index: 9999;
}

#progress-bar-fill {
  height: 100%;
  background-color: blue;
  animation: progress-animation 20s linear;
}

@keyframes progress-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}