.header-style {
    background-color: #22577a;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
  }
  
  .imagen-logo {
    width: 150px;
    margin: 0 35px;
    padding: 0 15px;
  }
  
  .title {
    text-align: center;
  }
  
  .body-text {
    max-width: 50rem;
    padding: 2rem 2rem;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  