.login_container {
  &_form {
    margin-top: 5rem;
    min-width: 250px;
  }
}

.flex-iconos {
  padding-right: 7.5px;
  font-size: 25px;
  color: white;
  &_text {
    margin: 0 20px 0 0;
    color: white;
    font-size: 18px;
  }
}