.institucionesNoAsociadas {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  &_img {
    width: 150px;
  }
  &_texto {
    font-size: 1.2rem;
    margin: 1rem;
    text-align: center;
  }
}
