.vista_label {
  font-weight: bold;
  font-size: 0.875rem;
  margin-right: 4.5px;
  // &_fuente {
  //   //font-weight: bold;
  //   max-width: 85px;
  //   text-overflow: ellipsis;
  //   white-space: nowrap;
  //   word-break: break-all;
  //   overflow: hidden;
  // }
  &_select {
    font-weight: bold;
    display: flex;
    width: 100%;
  }
}

.suW {
  width: max-content;
}

#Vista_Switch_Enlace {
  padding: 0.3rem 0.5rem;
  border: 1px black solid;
  margin: 0.2rem;
  background-color: lightgray;
  width: fit-content;

  a {
    text-decoration: none;
    color: rgb(79, 79, 79);
  }

  &:hover {
    background-color: lightblue;
    a {
      color: black;
    }
    cursor: pointer;
  }
}
