.cfsf_checkbox{
  .MuiFormControlLabel-root{
    margin-right:0
  }
}

.vista_label {
  font-weight: bold;
  font-size: 0.875rem;
  margin-right: 4.5px;
  // &_fuente {
  //   //font-weight: bold;
  //   max-width: 85px;
  //   text-overflow: ellipsis;
  //   white-space: nowrap;
  //   word-break: break-all;
  //   overflow: hidden;
  // }
  &_select {
    font-weight: bold;
    display: flex;
    width: 100%;
  }

  @media (max-width: 768px) {
    white-space: normal;
  }
}

.tarjeta_grid_item_select {
  padding: 4px;
  text-align: left;
  width: 100%;
  border-radius: 5px;
  font-weight: 400;
  font-size: .8rem;
  border: 1px solid #b9b9b9;
  position: relative;
  bottom: 3px;
  &:hover{
    border: 1px solid #2a2a2a;
  }
  &:focus{
    border: 1px solid #0096b3;
  }
  &:focus-visible{
    outline: none;
  }
}

.suW {
  width: max-content;
}

.Vista_Switch_Enlace {
  padding: 0.3rem 0.5rem;
  border: 1px black solid;
  margin: 0.2rem;
  background-color: lightgray;
  width: fit-content;

  a {
    text-decoration: none;
    color: rgb(79, 79, 79);
  }

  &:hover {
    background-color: lightblue;
    a {
      color: black;
    }
    cursor: pointer;
  }
}
