.vista_label {
  font-weight: bold;
  margin-right: 4.5px;
  width: 100px;
}

// .vista_dato {
//   margin-bottom: 0.3rem;
// }
.vista_dato {
  position: relative;
  left: -12px;
}

#Vista_Switch_Enlace {
  padding: 0.3rem 0.5rem;
  border: 1px black solid;
  margin: 0.2rem;
  background-color: lightgray;
  width: fit-content;

  a {
    text-decoration: none;
    color: rgb(79, 79, 79);
  }

  &:hover {
    background-color: lightblue;
    a {
      color: black;
    }
    cursor: pointer;
  }
}
