.container_buttons {
  display: flex;
  margin: 1.5em 0.2em;
  //background-color: greenyellow;
}



.btn-eliminar{
  padding: 0.2rem 0.5rem;
  background-color: rgba(212, 215, 217, 1);
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  font-size: inherit;
}