.createuser_ {
  &asignarPermisos {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 3rem;
    padding: 2rem;
    .permisoCheckbox {
      margin: 1rem;
      display: flex;
      justify-content: space-between;
      .checkbox_label {
        margin-left: 2rem;
      }
      .checkbox_input {
        margin-left: 0;
      }
    }
  }
  &container {
    // width: 100%;
    //margin: 2rem;
    // text-align: center;
    border: 1px gray solid;
  }
  &titulo {
    text-align: center;
  }
  &roles {
    width: 100%;
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &errorField {
    border: red solid 2px;
  }
  &farmacia {
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
  }
}

.centerContent {
  display: flex;
  align-items: center;
}
