$table: 1fr;
$table2: 1fr 3fr 2fr 1fr 1fr 2fr 2fr;
.transfer {
  &_barra {
    background: rgb(218, 218, 218);
    width: 100%;
    position: fixed;
    bottom: 0%;
    z-index: 100;
    padding: 1rem 3rem;
    margin-right: 1rem;
    border-radius: 20px 20px 0% 0%;
    .btn {
      color: white;
      font-weight: bold;
      letter-spacing: 1px;
      margin: 0 1rem;
    }
    & .siguiente {
      background-color: rgb(87, 155, 87);
    }
    & .volver {
      background-color: rgb(87, 126, 155);
    }
  }
  &_search {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin: 0 2rem;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(165, 168, 165);
    label {
      font-size: 1.3rem;
      padding: 0;
      margin: 0;
    }
    .form-control {
      width: 30%;
    }
  }
  &_lista {
    background: #ffff;
    margin: 1rem;
    border-radius: 15px 15px 0 0;
    &_sinresultados {
      width: 100%;
      position: absolute;
      top: 50%;
      font-size: 2rem;
    }
    &_footer {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;
      button {
        margin: 0rem 1rem;
      }
      &_paginacion {
        width: 40%;
        display: flex;
        align-items: baseline;
      }
      &_resultados {
        width: 30%;
        display: flex;
        align-items: baseline;
        justify-content: space-around;
      }
    }
    &_header {
      display: grid;
      padding: 0 1rem;
      grid-template-columns: $table2;
      & > div {
        padding: 0.5rem 0;
        font-weight: 400;
      }
    }

    &_header_titulo {
      text-align: center;
      font-size: 1.2rem;
      background: rgb(214, 214, 214);
      margin: 0;
      padding: 0;
      cursor: pointer;
      &#cantidad {
        cursor: default;
      }
      &#observaciones {
        cursor: default;
      }
    }
    &_items {
      display: grid;
      row-gap: 20px;
      background: #ffff;

      grid-template-columns: $table;
      text-align: center;
      align-self: baseline;
      min-height: 2rem;
      height: 100%;
      padding: 1rem;

      .transfer_lista_item {
        display: grid;
        grid-template-columns: $table2;
        column-gap: 10px;
      }

      & > div {
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(209, 208, 208);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &_vacio {
        height: 50px;
      }
      &_descuento {
        font-size: 1.5rem;
        &::after {
          content: " %";
          font-size: 1rem;
        }
      }
      &_minimo {
        font-size: 1.5rem;
        &::after {
          content: "u";
          font-size: 1rem;
        }
      }
      &_nombre {
        text-align: left;
        padding-left: 2rem;
      }
      &_presentacion {
        padding-left: 2rem;
      }
      &_cantidad {
        padding: 0;
        display: flex;
        width: 100%;
        min-width: 122px;
        border: none !important;
        .btn {
          width: 35%;
          height: 50px;
          flex-grow: 1;
          //min-width: 30px;
          max-width: 50px;
          // max-height: 100%;
          &:hover {
            filter: drop-shadow(1px 1px 2px);
          }

          transition: all 0.1s ease-in;
          font-size: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bolder;
          color: #ffff;

          &:active {
            transform: scale(0.9);
          }
        }
        &_suma {
          background: hsl(135, 65%, 47%);
          border: none;
          align-items: center;
          &:hover {
            background: hsl(135, 65%, 40%);
          }
        }
        &_resta {
          background: hsl(0, 84%, 47%);
          border: none;
          align-items: center;
          &:hover {
            background: hsl(0%, 84%, 40%);
          }
        }
        input {
          border: none;
          width: 100%;
          text-align: center;
          font-size: 2rem;
          &:focus {
            outline: none;
            background-color: hsl(300, 20%, 95%);
          }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type="number"] {
          -moz-appearance: textfield;
        }
      }
      textarea {
        resize: none;
      }
    }
  }
}
