$table: 1fr;
$table2: 1fr 2fr 3fr 3fr 1fr 1fr 2fr 2fr;

.transfer {
  &_cart {
    &_spinner {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 5rem;
      transform: scale(2);
    }
  }
  &_barra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(218, 218, 218);
    width: 82%;
    position: fixed;
    bottom: 0%;
    z-index: 100;
    padding: 0.5rem 0.6rem 0;
    margin-right: 1rem;
    border-radius: 20px 20px 0% 0%;
    &_nav {
      width: 62%;
    }
    .btn {
      color: white;
      font-weight: lighter;

      //  margin: 0 1rem;
      font-size: 0.7rem;
    }
    & .btn-labs {
      background-color: hsl(214, 43%, 40%);
    }
    & .siguiente {
      background-color: rgba(114, 156, 114, 1);
      position: relative;
      width: 200px;
      transition: all 0.3s ease-in-out;
    }
    & .confirmar {
      // animation-name: relleno;
      // animation-duration: 3s;
      position: relative;
      width: 200px;
      background-color: rgb(21, 202, 21);
    }
    .no-text {
      color: rgba(255, 255, 255, 0);
    }
    & .enviando {
      animation-name: relleno;
      animation-duration: 2.5s;
      animation-fill-mode: forwards;
      background-color: rgb(21, 114, 202);
      color: #ffffff;
      &::before {
        content: "Enviando";
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 10px;
      }
    }
    & .no-enviando {
      position: absolute;
      height: 100%;
      width: 0%;
      z-index: 1;
      top: 0;
      left: 0;
    }
    & .volver {
      background-color: rgb(87, 126, 155);
      margin-right: 1.8rem;
    }

    @keyframes relleno {
      from {
        width: 0px;
      }
      to {
        width: 200px;
      }
    }
  }
  &_search {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin: 0 2rem;
    padding-bottom: 0px;
    border-bottom: 1px solid rgb(165, 168, 165);
    label {
      font-size: 1rem;
      padding: 0;
      margin: 0;
    }
    .form-control {
      width: 30%;
    }
  }
  &_lista {
    background: #ffff;
    margin-top: 1rem;
    border-radius: 15px 15px 0 0;
    display: grid;

    &_sinresultados {
      width: 100%;
      position: absolute;
      top: 50%;
      font-size: 2rem;
    }
    &_footer {
      display: flex;
      justify-content: space-between;

      margin-top: 0.5rem;
      width: 100%;
      font-size: 0.6rem;
      button {
        //  margin: 0rem 1rem;
      }
      &_mostrando {
        display: flex;
        align-items: baseline;

        width: 20%;
      }
      &_paginacion {
        width: 35%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
      }
      &_resultados {
        width: 20%;
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
      }
    }
    &_header {
      display: grid;
      //padding: 0 1rem;
      // grid-template-columns: $table2;
      & > div {
        padding: 0.5rem 0;
        font-weight: 400;
      }
    }

    &_header_titulo {
      text-align: center;
      font-size: 1rem;
      background: rgb(214, 214, 214);
      margin: 0;
      padding: 0;
      cursor: pointer;
      &#cantidad {
        cursor: default;
      }
      &#observaciones {
        cursor: default;
      }
      &#nombre {
        text-align: left;
        padding-left: 0.55rem;
      }
      &#presentacion {
        text-align: left;
        padding-left: 0.55rem;
      }
    }
    &_items {
      display: grid;
      //row-gap: 20px;
      background: #ffff;
      font-size: 0.8rem;
      // grid-template-columns: $table;
      text-align: center;
      align-self: baseline;
      //min-height: 2rem;
      //height: 100%;
      //padding: 0.5rem;

      .transfer_lista_item {
        display: grid;
        // grid-template-columns: $table2;
        column-gap: 10px;

        &_imagen {
          max-width: 25px; // 75
          max-height: 35px; // 85
          //height: 60px;
        }
        p {
          display: none;
        }
      }

      & > div {
        // padding-bottom: 10px;
        border-bottom: 1px solid rgb(209, 208, 208);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &_vacio {
        height: 0.5rem;
      }
      &_descuento {
        // &::after {
        //   content: " %";
        //   font-size: 1rem;
        // }
      }
      &_minimo {
        font-size: 1rem;
        &::after {
          content: "u";
          font-size: 1rem;
        }
      }
      &_nombre {
        text-align: left;
        padding-left: 0.55rem;
      }
      &_presentacion {
        padding-left: 0.55rem;
        text-align: left;
      }
      &_cantidad {
        padding: 0;
        display: flex;
        width: 90%;
        min-width: 122px;
        border: none !important;
        justify-content: center;
        .btn {
          height: 22px;
          max-width: 20px;
          flex-grow: 1;
          // max-width: fit-content;
          &:hover {
            filter: drop-shadow(1px 1px 2px);
          }
          transition: all 0.1s ease-in;
          font-size: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bolder;
          color: #ffff;

          &:active {
            transform: scale(0.9);
          }
        }
        &_suma {
          background: hsl(135, 65%, 47%);
          border: none;
          align-items: center;
          &:hover {
            background: hsl(135, 65%, 40%);
          }
        }
        &_resta {
          background: hsl(0, 84%, 47%);
          border: none;
          align-items: center;
          &:hover {
            background: hsl(0%, 84%, 40%);
          }
        }
        input {
          border: none;
          width: 20%;
          text-align: center;
          font-size: 1rem;
          margin: 0 10px;
          &:focus {
            outline: none;
            background-color: hsl(300, 20%, 95%);
          }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type="number"] {
          -moz-appearance: textfield;
        }
      }
      textarea {
        resize: none;
      }
    }
    &_confirmacion {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      & div:first-child {
        width: 100%;
      }
      & div:nth-child(2) {
        margin: 10rem;
        display: flex;
        align-items: center;
        a {
          &.btn {
            color: white;
            font-weight: bold;
            letter-spacing: 1px;
            margin: auto 1rem;
            padding: 3rem;
          }
          &.btn-labs {
            background-color: hsl(214, 43%, 40%);
            &:hover {
              background-color: hsl(214, 43%, 50%);
            }
          }
        }
      }
    }
  }

  //hover efect de cada uno de los elementos
  &_laboratorioSelect_hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
  }
}

.transfer_total_numero {
  cursor: help;
}

.mensaje_flotante {
  display: block;
  position: absolute;
  width: max-content;
  max-width: 190px;
  background-color: rgb(104, 104, 104);
  color: white;
  font-size: 0.7rem;
  padding: 0.3rem;
  top: -200%;
  left: -100%;
  border-radius: 5px;
}
