.container_filtros {
  margin: 5px 15px;
}

.filtro_grid {
  display: grid;
  // grid-template-columns: 4fr;
  // gap: 5px;
  align-items: center;
  padding: 5px 1.5rem 1.1rem 1.5rem;

  &_inputs_grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    // grid-template-columns: repeat(auto-fill,      minmax(340px, 1fr)    ); // comentado porque rompe el gridarea
    // grid-auto-rows: 150px;
    //gap: 2.5px;
    row-gap: 1rem;
    align-items: start;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  &_int {
    display: "grid";
    grid-column: "1/-1";
  }

  &_fecha {
    display: flex;
    //flex-direction: column;
    //justify-content: space-between;
  }
  &_radio_button {
    margin-left: 5px;
    margin-top: 4px;
    &_label {
      font-size: medium;
      font-weight: lighter;
    }

    .MuiTypography-body1 {
      font-size: 0.8rem;
    }
  }
  &_fecha {
    .filtro_fecha_input {
      &_error {
        border: solid 2px red;
      }
    }
  }
}

.fecha_input {
  width: 90%;
}

@media only screen and (max-width: 992px) {
  .filtro_grid_inputs_grid {
    display: inline;
  }
  .filtro_grid_radio_button_label {
    margin-top: 0.85rem;
  }
}
