.filtro_grid {
  display: grid;
  grid-template-columns: 4fr;
  gap: 5px;
  align-items: center;
  padding: 25px 1.5rem;
  &_inputs_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    //grid-auto-rows: 150px;
    gap: 10px;
    row-gap: 25px;
  }
  &_fecha {
    display: flex;
    flex-direction: column;
  }
  &_radio_button {
    margin-left: 5px;
    max-width: 450px;
  }
  &_fecha {
    .filtro_fecha_input {
      &_error {
        border: solid 2px red;
      }
    }
  }
}
